@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Form */

.MuiFormHelperText-root {
  font-size: 14px;
}

/* plusCode styles */
.MuiFormLabel-root {
  font-size: 20px;
}
.MuiSelect-select {
  font-size: 20px;
}
.MuiInputBase-root {
  font-size: 20px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
